body {
    height: 100%;
    width: 100%;
    background-color: grey;
    overflow: hidden;
   
  }
  
  .kar {
   margin-top: -50px;
    
    filter: drop-shadow(0 0 10px yellow);
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
  }
  .kar:nth-child(1) {
    opacity: 0.3217;
    transform: translate(14.8vw, -10px) scale(0.1083);
    animation: fall-1 25s -24s linear infinite;
  }
  @keyframes fall-1 {
    44.602% {
      transform: translate(14.4367vw, 44.602vh) scale(0.1083);
    }
    to {
      transform: translate(14.61835vw, 2000px) scale(0.1083);
    }
  }
  .kar:nth-child(2) {
    opacity: 0.7971;
    transform: translate(11.8973vw, -10px) scale(0.1193);
    animation: fall-2 16s -21s linear infinite;
  }
  @keyframes fall-2 {
    61.18% {
      transform: translate(18.8087vw, 61.18vh) scale(0.1193);
    }
    to {
      transform: translate(15.353vw, 2000px) scale(0.1193);
    }
  }
  .kar:nth-child(3) {
    opacity: 0.0942;
    transform: translate(90.0925vw, -10px) scale(0.0488);
    animation: fall-3 11s -25s linear infinite;
  }
  @keyframes fall-3 {
    40.859% {
      transform: translate(93.671vw, 40.859vh) scale(0.0488);
    }
    to {
      transform: translate(91.88175vw, 2000px) scale(0.0488);
    }
  }
  .kar:nth-child(4) {
    opacity: 0.6482;
    transform: translate(90.2684vw, -10px) scale(0.8397);
    animation: fall-4 24s -14s linear infinite;
  }
  @keyframes fall-4 {
    41.954% {
      transform: translate(92.7911vw, 41.954vh) scale(0.8397);
    }
    to {
      transform: translate(91.52975vw, 2000px) scale(0.8397);
    }
  }
  .kar:nth-child(5) {
    opacity: 0.5687;
    transform: translate(51.0667vw, -10px) scale(0.5693);
    animation: fall-5 18s -13s linear infinite;
  }
  @keyframes fall-5 {
    63.989% {
      transform: translate(57.3496vw, 63.989vh) scale(0.5693);
    }
    to {
      transform: translate(54.20815vw, 2000px) scale(0.5693);
    }
  }
  .kar:nth-child(6) {
    opacity: 0.1934;
    transform: translate(57.3555vw, -10px) scale(0.0463);
    animation: fall-6 20s -27s linear infinite;
  }
  @keyframes fall-6 {
    40.468% {
      transform: translate(52.1127vw, 40.468vh) scale(0.0463);
    }
    to {
      transform: translate(54.7341vw, 2000px) scale(0.0463);
    }
  }
  .kar:nth-child(7) {
    opacity: 0.261;
    transform: translate(8.9107vw, -10px) scale(0.1057);
    animation: fall-7 26s -24s linear infinite;
  }
  @keyframes fall-7 {
    57% {
      transform: translate(3.422vw, 57vh) scale(0.1057);
    }
    to {
      transform: translate(6.16635vw, 2000px) scale(0.1057);
    }
  }
  .kar:nth-child(8) {
    opacity: 0.0028;
    transform: translate(67.6087vw, -10px) scale(0.9698);
    animation: fall-8 13s -11s linear infinite;
  }
  @keyframes fall-8 {
    52.607% {
      transform: translate(62.3097vw, 52.607vh) scale(0.9698);
    }
    to {
      transform: translate(64.9592vw, 2000px) scale(0.9698);
    }
  }
  .kar:nth-child(9) {
    opacity: 0.3418;
    transform: translate(83.486vw, -10px) scale(0.1454);
    animation: fall-9 30s -6s linear infinite;
  }
  @keyframes fall-9 {
    55.643% {
      transform: translate(85.7835vw, 55.643vh) scale(0.1454);
    }
    to {
      transform: translate(84.63475vw, 2000px) scale(0.1454);
    }
  }
  .kar:nth-child(10) {
    opacity: 0.1729;
    transform: translate(30.4725vw, -10px) scale(0.1361);
    animation: fall-10 20s -1s linear infinite;
  }
  @keyframes fall-10 {
    60.462% {
      transform: translate(39.4105vw, 60.462vh) scale(0.1361);
    }
    to {
      transform: translate(34.9415vw, 2000px) scale(0.1361);
    }
  }
  .kar:nth-child(11) {
    opacity: 0.9489;
    transform: translate(3.0867vw, -10px) scale(0.1049);
    animation: fall-11 16s -16s linear infinite;
  }
  @keyframes fall-11 {
    65.525% {
      transform: translate(12.6569vw, 65.525vh) scale(0.1049);
    }
    to {
      transform: translate(7.8718vw, 2000px) scale(0.1049);
    }
  }
  .kar:nth-child(12) {
    opacity: 0.386;
    transform: translate(11.1328vw, -10px) scale(0.9609);
    animation: fall-12 11s -9s linear infinite;
  }
  @keyframes fall-12 {
    38.41% {
      transform: translate(15.5362vw, 38.41vh) scale(0.9609);
    }
    to {
      transform: translate(13.3345vw, 2000px) scale(0.9609);
    }
  }
  .kar:nth-child(13) {
    opacity: 0.9645;
    transform: translate(52.4955vw, -10px) scale(0.9537);
    animation: fall-13 23s -5s linear infinite;
  }
  @keyframes fall-13 {
    52.629% {
      transform: translate(57.4061vw, 52.629vh) scale(0.9537);
    }
    to {
      transform: translate(54.9508vw, 2000px) scale(0.9537);
    }
  }
  .kar:nth-child(14) {
    opacity: 0.6207;
    transform: translate(47.0543vw, -10px) scale(0.5673);
    animation: fall-14 23s -21s linear infinite;
  }
  @keyframes fall-14 {
    66.249% {
      transform: translate(41.8878vw, 66.249vh) scale(0.5673);
    }
    to {
      transform: translate(44.47105vw, 2000px) scale(0.5673);
    }
  }
  .kar:nth-child(15) {
    opacity: 0.7017;
    transform: translate(33.3008vw, -10px) scale(0.4798);
    animation: fall-15 15s -9s linear infinite;
  }
  @keyframes fall-15 {
    40.664% {
      transform: translate(32.4978vw, 40.664vh) scale(0.4798);
    }
    to {
      transform: translate(32.8993vw, 2000px) scale(0.4798);
    }
  }
  .kar:nth-child(16) {
    opacity: 0.7727;
    transform: translate(70.0576vw, -10px) scale(0.467);
    animation: fall-16 23s -8s linear infinite;
  }
  @keyframes fall-16 {
    73.485% {
      transform: translate(60.4024vw, 73.485vh) scale(0.467);
    }
    to {
      transform: translate(65.23vw, 2000px) scale(0.467);
    }
  }
  .kar:nth-child(17) {
    opacity: 0.0305;
    transform: translate(98.0514vw, -10px) scale(0.4847);
    animation: fall-17 20s -3s linear infinite;
  }
  @keyframes fall-17 {
    56.821% {
      transform: translate(107.4912vw, 56.821vh) scale(0.4847);
    }
    to {
      transform: translate(102.7713vw, 2000px) scale(0.4847);
    }
  }
  .kar:nth-child(18) {
    opacity: 0.7147;
    transform: translate(10.5059vw, -10px) scale(0.1638);
    animation: fall-18 11s -9s linear infinite;
  }
  @keyframes fall-18 {
    71.705% {
      transform: translate(9.6179vw, 71.705vh) scale(0.1638);
    }
    to {
      transform: translate(10.0619vw, 2000px) scale(0.1638);
    }
  }
  .kar:nth-child(19) {
    opacity: 0.5447;
    transform: translate(1.74vw, -10px) scale(0.2156);
    animation: fall-19 17s -29s linear infinite;
  }
  @keyframes fall-19 {
    77.053% {
      transform: translate(-3.8414vw, 77.053vh) scale(0.2156);
    }
    to {
      transform: translate(-1.0507vw, 2000px) scale(0.2156);
    }
  }
  .kar:nth-child(20) {
    opacity: 0.2581;
    transform: translate(57.9597vw, -10px) scale(0.392);
    animation: fall-20 29s -12s linear infinite;
  }
  @keyframes fall-20 {
    59.481% {
      transform: translate(60.9316vw, 59.481vh) scale(0.392);
    }
    to {
      transform: translate(59.44565vw, 2000px) scale(0.392);
    }
  }
  .kar:nth-child(21) {
    opacity: 0.0365;
    transform: translate(39.0108vw, -10px) scale(0.2757);
    animation: fall-21 22s -12s linear infinite;
  }
  @keyframes fall-21 {
    66.348% {
      transform: translate(48.4295vw, 66.348vh) scale(0.2757);
    }
    to {
      transform: translate(43.72015vw, 2000px) scale(0.2757);
    }
  }
  .kar:nth-child(22) {
    opacity: 0.4687;
    transform: translate(53.7771vw, -10px) scale(0.691);
    animation: fall-22 28s -12s linear infinite;
  }
  @keyframes fall-22 {
    30.13% {
      transform: translate(52.5724vw, 30.13vh) scale(0.691);
    }
    to {
      transform: translate(53.17475vw, 2000px) scale(0.691);
    }
  }
  .kar:nth-child(23) {
    opacity: 0.5456;
    transform: translate(21.8153vw, -10px) scale(0.533);
    animation: fall-23 25s -28s linear infinite;
  }
  @keyframes fall-23 {
    58.17% {
      transform: translate(12.6495vw, 58.17vh) scale(0.533);
    }
    to {
      transform: translate(17.2324vw, 2000px) scale(0.533);
    }
  }
  .kar:nth-child(24) {
    opacity: 0.7562;
    transform: translate(32.5037vw, -10px) scale(0.7705);
    animation: fall-24 16s -4s linear infinite;
  }
  @keyframes fall-24 {
    38.484% {
      transform: translate(29.4941vw, 38.484vh) scale(0.7705);
    }
    to {
      transform: translate(30.9989vw, 2000px) scale(0.7705);
    }
  }
  .kar:nth-child(25) {
    opacity: 0.402;
    transform: translate(6.1607vw, -10px) scale(0.6196);
    animation: fall-25 22s -30s linear infinite;
  }
  @keyframes fall-25 {
    58.238% {
      transform: translate(7.4948vw, 58.238vh) scale(0.6196);
    }
    to {
      transform: translate(6.82775vw, 2000px) scale(0.6196);
    }
  }
  .kar:nth-child(26) {
    opacity: 0.4129;
    transform: translate(60.9694vw, -10px) scale(0.4492);
    animation: fall-26 10s -15s linear infinite;
  }
  @keyframes fall-26 {
    44.511% {
      transform: translate(69.9776vw, 44.511vh) scale(0.4492);
    }
    to {
      transform: translate(65.4735vw, 2000px) scale(0.4492);
    }
  }
  .kar:nth-child(27) {
    opacity: 0.7394;
    transform: translate(3.5414vw, -10px) scale(0.2914);
    animation: fall-27 21s -13s linear infinite;
  }
  @keyframes fall-27 {
    74.548% {
      transform: translate(6.2579vw, 74.548vh) scale(0.2914);
    }
    to {
      transform: translate(4.89965vw, 2000px) scale(0.2914);
    }
  }
  .kar:nth-child(28) {
    opacity: 0.5317;
    transform: translate(25.6418vw, -10px) scale(0.0996);
    animation: fall-28 21s -17s linear infinite;
  }
  @keyframes fall-28 {
    74.944% {
      transform: translate(18.8499vw, 74.944vh) scale(0.0996);
    }
    to {
      transform: translate(22.24585vw, 2000px) scale(0.0996);
    }
  }
  .kar:nth-child(29) {
    opacity: 0.6101;
    transform: translate(52.3478vw, -10px) scale(0.4878);
    animation: fall-29 19s -9s linear infinite;
  }
  @keyframes fall-29 {
    74.273% {
      transform: translate(45.5039vw, 74.273vh) scale(0.4878);
    }
    to {
      transform: translate(48.92585vw, 2000px) scale(0.4878);
    }
  }
  .kar:nth-child(30) {
    opacity: 0.7832;
    transform: translate(12.628vw, -10px) scale(0.923);
    animation: fall-30 14s -16s linear infinite;
  }
  @keyframes fall-30 {
    42.834% {
      transform: translate(8.0174vw, 42.834vh) scale(0.923);
    }
    to {
      transform: translate(10.3227vw, 2000px) scale(0.923);
    }
  }
  .kar:nth-child(31) {
    opacity: 0.0574;
    transform: translate(34.9204vw, -10px) scale(0.2872);
    animation: fall-31 15s -22s linear infinite;
  }
  
