body{
    background-color: grey;
margin: 0;
padding: 0;
font-family: 'Roboto', sans-serif;
font-size:14px;
font-weight: bold;
color: #fff;

}


.block_form {
    opacity: 0;
    animation: ani 1.5s forwards;
  }
  
  @keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
.hello{
    font-size: 16px;
    margin-top:20px;
    display: flex;
    justify-content:center;
}
.block_form{
z-index: 1;
box-shadow: none;
border-radius: 20px;
width: 300px;
background-color:#3cb3ff;


}
.content{
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: absolute;

}
.logo{
width: 100%;
display: flex;
justify-content:center;

}
.logo_image{
    margin-top:20px;
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 70px;
    height: 70px;
}
.user_login{
    margin-top:95px;
}
.user_pass{
    margin-top:20px;
}
.user_login, .user_pass{
   
display: flex;
justify-content: center;


}
.button_enter{
    margin-top:20px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.input-login, .input-pass{
    text-align: center;
  border: none;
  border-radius:5px;
  width: 200px;
  height:25px;
  padding-right: 5px;
  padding-left:5px;


}

::placeholder{
    font-size:14px;
text-align: center;
color: grey;


}
.label_login, .label_pass{
    margin-left: 30px;
}
.div_create{

    margin-left:20px;
    margin-right:20px;



}
.label_create{
    margin-bottom: 10px;
    display: flex;
    justify-content:center;
    margin-top: 10px;
}
.label_create1{
    display: flex;
    justify-content:center;
    margin-top: 40px;
}
.error{
margin-bottom: 20px;

}
.error_text{
    display:flex;
    justify-content:center;
}

.error_text_text{
    text-align: center;
    color: red;

}