button.slide_from_left {
    font-size: 16px;
    background: #3cb3ff;
    color: #fff;
    border-radius:10px;
    border: 1px solid #fff;
    padding: 0.60em 0.75em;
    padding-left: 50px;
    padding-right: 50px;
    margin: 1rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
  
  }
  button.slide_from_left:hover {
    color: #3cb3ff;
  }
  button.slide_from_left::after {
    content: "";
    background: #fff;
    position: absolute;
    z-index: -1;
    padding: 0.60em 0.75em;
    display: block;
  }
  button.slide_from_left[class^="slide"]::after {
    transition: all 0.35s;
  }
  button.slide_from_left[class^="slide"]:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 0.35s;
  }
  button.slide_from_left::after {
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
  }